body {
  margin: 0;
  background-color: #17212b;
  width: 100%;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* logo block */
.logo-text {
  color: #673ab7;
}

/* texarea block */
.main-text-area {
  transition: height 0.7s;
  height: 300px;
  max-height: 300px;
  border-radius: 6px;
  font-family: monospace, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.input-textarea {
  align-items: center;
  display: flex;
  justify-content: center;
  resize: none;
  min-width: 100%;
  max-width: 100%;
}

textarea::-webkit-resizer {
  display: none;
}

.main-textarea-top {
  transition: height 1s;
  max-height: 100%;
  min-height: 180px;
}

.main-area {
  display: flex;
  width: 100%;
}

/* main buttos block */
.main-buttons-group {
  display: grid;
  justify-items: center;
}

.activeMod {
  color: red;
}

.copyBtn {
  position: absolute;
  right: 4%;
  top: 7px;
  cursor: pointer;
  border-radius: 4px;
}
.copyBtn:hover {
  background-color: #e7f2ff;
}

.input-textarea {
  position: relative;
  border: none;
}
.input-textarea:focus {
  position: relative;
  border: none;
}

textarea {
  background-color: #f2f7f9;
  border: 1px solid #b1e1f9;
}
textarea:hover {
  border: 1px solid #00feff;
  background-color: #e9f2f5;
}
textarea:focus {
  border: 1px solid #37a0d5;
  background-color: #fff;
}
textarea:focus,
input:focus {
  outline: none;
}

@media (max-width: 700px) {
  body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  /* texarea block */
  .main-text-area {
    transition: height 1s;
    position: relative;
    left: 2px;
    min-width: 98%;
    max-width: 98%;
    height: 180px;
    max-height: 180px;
    min-height: 180px;
    border-radius: 6px;
    font-family: monospace, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 14px;
  }

  .input-textarea {
    transition: height 1s;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    display: block;
    justify-content: center;
    resize: none;
  }
  textarea::-webkit-resizer {
    display: none;
  }

  .main-textarea-top {
    transition: height 0.5s;
    height: 350px;
    max-height: 350px;
    position: relative;
    left: 2px;
    min-width: 98%;
    max-width: 98%;
    min-height: 180px;
    border-radius: 6px;
    font-family: monospace, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 14px;
  }

  .main-area {
    display: grid;
    width: 100%;
    grid-gap: 15px;
    justify-items: center;
    border: none;
  }

  /* main buttos block */
  .main-buttons-group {
    position: relative;
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .main-buttonss-second-group {
    position: relative;
  }

  .copyBtn {
    position: absolute;
    right: 8px;
    top: 7px;
    cursor: pointer;
  }
}

.replaceInput {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid #1976d2;
  padding-left: 8px;
}
.main-buttonss .css-sghohy-MuiButtonBase-root-MuiButton-root {
  min-width: 50px;
  width: 50px;
  max-width: 50px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-1hw9j7s {
  min-width: 50px;
  width: 50px;
  max-width: 50px;
}

.show {
  display: none;
}

.hide {
  display: block;
}
